* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #E1E5EA; 
  font-family: RMNeue, arial, helvetica;
  margin: 0;      
  padding: 0;
}

#root {
  max-width: 1280px;
  width: 100vw;  
  min-height: 100vh; 
  margin: 0 auto;
  text-align: center;
  padding: 2rem;

  /*  
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;*/
}

#publicidad {
  width: 100%; 
  padding: 2rem 0;
  display: flex;
  justify-content: center;
}

.publicidad-grid {
  max-width: 1200px;      
  width: 100%;
  border-radius: 0%;
}

.publicidad-list {
  display: flex;
  justify-content: center;
  gap: 2rem;              
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.publicidad-card {
  border-radius: 0%;
}

.publicidad-card img {
  display: block;
  width: 300px;
  height: 250px;
  object-fit: cover;
  border-radius: 0px;
  outline: none;
  border: none;
}